
@{

    ViewData["Title"] = "Portfolio - Home";
    string ConvertToUpper(string str) => str.ToUpper();
}

<div class="text-center">
    <h1 class="display-4 title">Soy Francisco Garao</h1>
    <p>Soy un desarrollador full stack en tecnologias .NET y Javascript y tengo @ViewBag.age.</p>
    <img style="width: 200px;height: 200px;margin: 2rem; border-radius: 50%"
         src="~/imgs/fotoCv.png" alt="Foto de apuntes" />
</div>

<div style="background-color: #67217A;" class="text-center container-fluid">
    <img src="~/imgs/net.png" alt="Imagen de .NET" style="width: 70%; height: auto;"/>
</div>

<div class="row justify-content-center text-center container-fluid">
    <div class="col col-md-7 welcome-section">
        <h1>Te doy la bienvenida a mi Portafolio.</h1>
        <p>Soy un estudiante de ingenieria de software en la Universidad Abierta Interamericana</p>
    </div>
</div>
















@* @model Person

@{
    //el viewData es similar al viewBag
    // en este caso pasa informacion de la vista al layout
    ViewData["Title"] = "Portfolio - Home";
    string ConvertToUpper(string str) => str.ToUpper();

    DateTime now = DateTime.Now;

    var names = new List<string> { "Juan", "Pedro", "Maria" };
}

<div class="text-center">
    <h1 class="display-4 title">Soy @ConvertToUpper(Model.Name)  @ConvertToUpper(Model.LastName) and im @Model.Age yo</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Soy un desarrollador full stack en tecnologias .NET y Javascript y tengo @ViewBag.age</a>.</p>
    <img style="width: 200px; margin: 2rem; border-radius: 50%"
         src="~/imgs/hornallita.JPG" alt="Foto de apuntes" />
    <h2>La hora actual es: @now.ToString("dd/MM/yyyy hh:mm:ss tt")</h2>
</div>
@foreach (var name in names)
{
    <p>@name</p>
}
@if (Model.Age >= 18)
{
    <p>Ya eres mayor de edad</p>
}
else
{
    <p>eres menor de edad</p>
}
 *@